
# Folders
__pycache__/
.idea/
.git/
venv/

/data/
/outputs/
/references/
/reports/figures/eps
/reports/figures/pgf
/src/notebooks/

/src/analysis/test_precoder_error_sweep.py
/src/analysis/test_precoder_user_distance_sweep.py

/.pylintrc
